.home{
       width: 1000px; 
       margin:auto;
       margin-top: 20px;
       margin-bottom: 20px;
       padding: 10px;
   }
.Btnhome{
       margin-top: 100px;
}
.email{
       right: 10px;
       position: fixed;
       top: 0;
}
.logout{
       right: 200px;
       position: fixed;
       top: 0;
}